extends ../../layouts/default.pug

block main
  if(singleItem.title)
    h1(class="mb-4") #{singleItem.title}

  if (singleItem.thumbnail)
    div(class="mb-4")
      img(
        src=singleItem.thumbnail
        style="width: 200px"
      )

  if (singleItem.status)
    div(class="mb-4")
      span Trạng thái:
      if (singleItem.status === "active")
        span(class="badge text-bg-success ms-2") Hoạt động
      else
        span(class="badge text-bg-danger ms-2") Dừng hoạt động

  if (singleItem.position)
    div(class="mb-4") Vị trí: <b>#{singleItem.position}</b>

  if (singleItem.description)
    div(class="mb-4") !{singleItem.description}

  a(
    href=`${prefixAdmin}/products-categories/edit/${singleItem.id}`
    class="btn btn-warning"
  ) Chỉnh sửa